<div class="container">
  <form action="/lists" method="POST">
    <textarea clsss="form-control" name="content" placeholder="Add your list here" required></textarea>
    <input type="submit" value="Create">
  </form>
</div>
