<div class="container">
  <h1 class="page-header"><%="Create New"%></h1>
  <form action="/lists" method="POST">
    <textarea name="content" class="form-control" placeholder="Add your list here" required></textarea>
    <input type="submit" value="Create">
  </form>
</div>
