<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sinatra</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/lists">View All</a></li>
        <li><a href="/lists/new">New List</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">
      <h1 class="page-header"><%="Edit or Delete"%></h1>
      <form action="/lists/<%=@list.id%>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <input type="text" name="content" class="form-control" required value="<%=@list.content%>">
        <input type="submit" value="Update">
      </form><br>

      <form action="/lists/<%=@list.id%>/delete" method="POST" >
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>
