<div class="container">
  <h1 class="page-header"><%="#{current_user.username}'s List"%></h1>
  <%@user.lists.each do |list|%>
  <a href="/lists/<%=list.id%>"><%=list.content%></a><br>
  <%end%>
</div>
