<a href="/lists/<%= @list.id %>"><%=@list.content%></a><br><br>

<a href="/lists/<%= @list.id %>/edit">Edit</a><br>
<a href="/lists/<%= @list.id %>/delete">Delete</a><br><br>

<a href="/lists">View All</a><br>
<a href="/lists/new">New List</a><br>
