<div class="container">
  <h4 class="page-header"><%="Signed in as #{current_user.username}"%></h4>
  <h5><a href="/lists">View All</a></h5>
  <h5><a href="/lists/new">New List</a></h5>
  <h5><a href="/logout">Logout</a></h5>
</div>
