<div class="container">
  <h1 class="page-header"><%=" Welcome #{current_user.username}"%></h1>
    <a href="/lists">View All</a><br>
    <a href="/lists/new">New List</a><br>
    <a href="/logout">Logout</a></li><br>
  </div>
